# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Tutorials/HandsOnReact/keeptrack/public/assets/.gitkeep
Tutorials/HandsOnReact/keeptrack/public/assets/logo-3.svg
Tutorials/HandsOnReact/keeptrack/public/assets/logo-splash-screen.svg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch1.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch2.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch3.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch4.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch5.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch6.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch7.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch8.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch9.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch10.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch11.jpg
Tutorials/HandsOnReact/keeptrack/public/assets/placeimg_500_300_arch12.jpg
